<html>
    <head>
        <title>Django blog James</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django blog James</a></h1>
        </div>

        <div>
            <p>published: 30.05.2020, 13:50 </p>
            <h2><a href="">SE UN GANADOR</a></h2>
            <p>"LOS QUE ABANDONAN NUNCA GANAN Y UN GANADOR NUNCA ABANDONA"</p>
        </div>

        <div>
            <p>published: 30.05.2020, 13:50</p>
            <h2><a href="">NUNCA TE RINDAS</a></h2>
            <p>"DIGALE AL MUNDO LO QUE INTENTA HACER, PERO LLEVELO ACABO ANTES DE DECIRLO"</p>
        </div>

        <div>
            <p>published: 30.05.2020, 13:50</p>
            <h2><a href="">FELIZ DIA</a></h2>
            <p>"TE DESEO UN FELIZ DIA ANTICIPADO AMOR"</p>
        </div>
    </body>
</html>